$body-bg: #444652;
$body-color: #444652;

$theme-colors: (
	"w-green": #58ae9c,
	"w-green-dark": #274431,
	"w-desert": #f3f3f3,
	"w-white": #f5f8f7,
	"w-dark": #444652,
	"w-dark-light": #5a5f6b,
	"w-grey": #a4a4a4,
);
